* {
    border: none;
    border-radius: 0px;
    font-family: Hack;
    font-size: 10px;
    color: white;
    min-height: 0px;
}

window#waybar {
    background-color: rgba(15, 22, 28, 0.55);
    border-bottom: 3px solid rgba(120, 136, 149, 0.55);
    color: #FFFFFF;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces button {
    padding: 0 1px;
    background-color: transparent;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.focused {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: transparent;
}

#clock,
#custom-bat0,
#cpu,
#custom-mem,
#custom-drive,
#custom-temp,
#custom-backlight,
#custom-volume,
#mode {
    padding: 0 6px;
    margin: 0 5px;
}

#clock {
    background-color: rgba(0, 0, 0, 0.0);
    border-bottom: 3px solid #3A3A3A;
}

#custom-mem {
    background-color: #CD3030;
    border-bottom: 3px solid #E05050;
}

label:focus {
    background-color: #000000;
}

#custom-drive {
    background-color: #E08527;
    border-bottom: 3px solid #F3A505;
}

#custom-bat0 {
    background-color: #9F46AA;
    border-bottom: 3px solid #C265D4;
}

#custom-volume {
    background-color: #2D8CD2;
    border-bottom: 3px solid #55AAF0;
}

#custom-backlight {
    background-color: #266FC5;
    border-bottom: 3px solid #5292E2;
}

#custom-temp {
    background-color: #F0CA25;
    border-bottom: 3px solid #FFED2F;
}

#cpu {
    background-color: #25AA57;
    border-bottom: 3px solid #73C64C;
}
